doctype html
html
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel='stylesheet', href='stylesheets/login.css')
		link(rel='stylesheet', href='stylesheets/calendar.css')
		link(rel='stylesheet', href='stylesheets/default.css')		
		link(rel='stylesheet', href='stylesheets/default.date.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		script(src='javascripts/jquery.min.js')
		script(src='javascripts/bootstrap.min.js')
	body
		// Login container. Nếu đang có sẵn tài khoản thì cứ login, không có thì tự động tạo tài khoản cho người dùng
		p.hidden#userinfo= JSON.stringify(sess.user)
		-if(!sess.user.logged==1)
			.container
				.row
					.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.col-sm-8.col-sm-offset-2
						.panel.panel-login
							.panel-heading
								a#login-form-link.active(href='#') Login
								hr
							.panel-body
								.row
									.col-lg-12
										// Login action
										form#login-form(action='/login', method='post', role='form', style='display: block;')
											.form-group
												input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='')
											.form-group
												input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
											.form-group.text-center
												input#remember(type='checkbox', tabindex='3', name='remember')
												label(for='remember')  Remember Me
											.form-group
												.row
													.col-sm-6.col-sm-offset-3
														input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Log In')
											// Forgot password action
											.form-group
												.row
													.col-lg-12
														.text-center
															// Href ....
															a.forgot-password(href='#', tabindex='5') Forgot Password?
			//After login
		-if(sess.user.logged==1)
			.container-fluid
				.row
					.col-lg-3.flex-container-col
						#user
							img#avatar.img
							p#username=sess.user.name
						#btn-add.btn.btn-lg(onclick="add()")  Add 
						#btn-edit.btn.btn-lg(onclick="edit()")  Edit
						#btn-delete.btn.btn-lg  Delete 
						#btn-sort.btn.btn-lg(onclick="sortI()")  Sort 
						#btn-select.btn.btn-lg  Select day 
						#btn-out.btn.btn-lg(onclick="logout()")  Log out
					.col-lg-9
						// hiện list task
						-if(sess.user.act == 'view')
							#task-view
								.flex-container-row
									p.flex-item.day-text  Today 
									p.flex-item.day-text  Day 1 
									p.flex-item.day-text  Day 2 
									p.flex-item.day-text  Day 3 
								ul#task-list
						-if(sess.user.act == 'edit' || sess.user.act == 'add')
							#task-edit
								// chỉnh sửa / thêm task
								// nếu người dùng ấn add thì cho thằng này value 'Add task', tương tự cho chỉnh sửa
								h2#task-edit-tittle.jumbotron= sess.user.act + " task"
									form#task-edit-form(method='post', action='/them', role='form', style='display: block;')
										.form-group
											input#task-name.form-control(type='text', name='task_name', tabindex='1', placeholder="Task's name")
										.form-group
											input#task-deadline.form-control(type='date', name='task_deadline', tabindex='2', placeholder="Task's deadline")
										.form-group
											input#task-submit.form-control.btn.pull-right(type='submit', name='task-submit', tabindex='3', value='Submit')
						
		script(src='javascripts/picker.js')
		script(src='javascripts/picker.date.js')
		script(src='javascripts/main.js')
		

